@import url(global.css);

.primary-color {
    background: var(--primary-color);
}
.text-color {
    color: var(--text-color);
}
.nav-bg-color {
    background: var(--nav-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 127px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 0 40px; /* adiciona respiro lateral */
}
.logo {
    margin-top: 35px;
}
.login {
    align-items: center;
    display: flex;
    gap: 35px;
}
.tertiary-color {
    background: var(--tertiary-color);
    padding: 0.4rem;
    border-radius: 1rem;
    width: 170px;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.links a {
    text-decoration: none;
    color: #af99c3;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 13px;
}
footer {
    margin-top: 70px;
}
footer p {
    font-size: 10px;
    color: #af99c3;
}
.direitos {
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.redes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.container {
    background: #0E0E32;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    width: 386px;
    height: 465px;
    text-align: center;
}
.btn-bg-color-gradient {
    background: var(--btn-bg-color-gradient);
    padding: 15px;
    width: 158px;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: none;
}
input {
    background: #0B0B28;
    border: 1px solid #8B8B99;
    border-radius: 7px;
    padding: 15px;
    width: 308px;
    font-size: 18px;
    margin: auto;
}
.entrar h3, .login h5 {
    letter-spacing: 2px;
}
.loginn {
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 170px;
    text-align: center;
}
.loginn p {
    margin-bottom: 10px;
}
.esqueceu-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    justify-content: space-between;
}