@import url(global.css);

.primary-color {
    background: var(--primary-color);
}
.text-color {
    color: var(--text-color);
}
.divider-bg-color {
    background: var(--divider-bg-color);
    width: 234px;
    height: 4px;
}
.tertiary-color {
    background: var(--tertiary-color);
    padding: 0.4rem;
    border-radius: 1rem;
    width: 170px;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
}
.nav-bg-color {
    background: var(--nav-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 127px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 0 40px; /* adiciona respiro lateral */
}
.btn-bg-color-gradient {
    background: var(--btn-bg-color-gradient);
    padding: 15px;
    width: 240px;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    animation: assine 2.7s linear infinite;
}
header {
    margin-top: 127px;
}
.logo {
    margin-top: 35px;
}
.login {
    align-items: center;
    display: flex;
    gap: 35px;
}
.login h5 {
    letter-spacing: 2px;
}
.icons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    justify-content: center;
    gap: 30px 20px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.texto {
    text-align: center;
}
.texto p {
    font-size: 33px;
}
.texto h1 {
    font-size: 47px;
}
.principal {
    background: linear-gradient(115deg,#010121, #321f41);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 850px;
}
.assinatura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 290px;
    width: 300px;
    text-align: center;
}
.assinatura p {
    font-size: 20px;
}
.assinatura .pagamento {
    font-size: 15px;
    font-family: 'Quicksand';
}
.assinatura strong {
    font-size: 35px;
}
.planos {
    display: flex;
    flex-direction: column;
}
.planos p {
    font-size: 30px;
}
.card-bg-color {
    background: var(--card-bg-color);
    height: 633px;
    width: 378px;
}
.overflow {
    overflow: hidden;
    height: 596px;
    width: 415px;
    display: flex;
    overflow-x: scroll;
    gap: 38px;
}
/* Custom Scroll */

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes assine {
  0% { transform: rotate(0); }
  3% { transform: rotate(-10deg); }
  6% { transform: rotate(10deg); }
  9% { transform: rotate(-10deg); }
  12% { transform: rotate(10deg); }
  15% { transform: rotate(0); } /* fim do tremor */
  100% { transform: rotate(0); } /* pausa de 2s */
}